section{
    padding:2rem;
    max-width: 1300px;
    margin: 0 auto;
}
.home-bg{
    background:url(img/b1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.home-bg .home .slide{
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    gap:1.5rem;
    user-select: none;
    /* cursor: pointer; */
}
.home-bg .home .slide .image{
    flex:1 1 40rem;
}
.home-bg .home .slide .image img{
    height: 40rem;
    width: 100%;
    object-fit: contain;
}
.home-bg .home .slide .content{
    flex:1 1 40rem ;
}
/* .home-bg .home .slide .content span{ */
     
.swiper-pagination-bullet-active{
    background-color: red;
}